.nav-event {
	text-align: center;
	margin-bottom: 25px;
}

	.nav-event a {
		font-size: 20px;
		color: #3A02F4;
		border-radius: 5px;
		padding: 3px 7px;
	}
	.nav-event a:hover {
		color: #fff;
		background: #3A02F4;
	}
	