<section class="author-page-about">
	<div class="container">
		<div class="author-page-about__studies clearfix">
			<div class="author-page-about__studies__lileyna">
				<div class="img-box">
					<img src="../images/pic/lileyna-2.png" alt="photo">
				</div>
				<h2>Лилейна Алайя</h2>
			</div>
			<div class="author-page-about__studies__txt">
				<p>
					Лилейна Алайя обучалась у мастера Шри Свами Ботхиталиб.
				</p>
				<p>
					Имеет сертификат института нетрадиционной медицины, фонд Милосердия и здоровья П.О. «Народная медицина». Получила квалификацию биоэнерготерапевта международной категории.
				</p>
				<p>
					Проходила обучающие программы Берта Хеллингера, Рики Рекберг, Андрея Киселева, Михаила Бурняшева, Ирины Ищенко и др.
				</p>
				<p>
					Прошла три ступени по Чжун Юань Цигун в школе Сюи Мин Тан. Приняла саньясу в ашраме Ошо и получила имя МА Витниша.
				</p>			
			</div>
		</div>

		<div class="author-page-about__work">
			<p>
				Системный расстановщик в сфере бизнеса и семейных взаимоотношений.
			</p>
			<p>
				Автор и ведущая программы "Принять любовь и опыт", "Любовь ведущая в жизнь".
			</p>
			<p>
				Арт-терапевт. Автор и ведущая программ арт-терапевтических программ «Сила рода», «Карта желаний», «Финансовые потоки благополучия и успеха».
			</p>
			<p>
				Создатель школы женского мастерства «Гармония мира», в которой используются техники из личных наработок связанные в единые программы для пробуждения и совершенствования женской силы.
			</p>
			<p>
				Автор и ведущая программы для будущих и настоящих родителей «Колыбельная для ангела», а также семинара-практикума по работе с собственным ангельским эгрегором «Территория ангелов» и многих других программ.
			</p>
			<p>
				Лилейна проводит семинары и читает лекции по работе с подсознанием с помощью различных медитативных и дыхательных практик. Активно работает в области эзотерических форм оздоровления с помощью звука, музыки и пения, а также проводит анализ и синтез прошлой жизни, толкование сновидений с помощью ясновидения и таро. Занимается изучением и применением трав как альтернативного вида лекарств. Практикует мануальную и рефлексотерапию, владеет омолаживающими техниками в косметологии.
			</p>
			<p>
				Применяет в работе по оздоровлению человека различные техники массажа: традиционный, биоэнергетический массаж, рейки, общеукрепляющий и оздоровительный и т.д. Также Лилейна Алайя использует собственные разработанные методики по коррекции фигуры (антицеллюлитная программа), восстановлению репродуктивной деятельности, осознанию и избавлению от проблем, связанных с гинекологией.
			</p>
			<p>
				Практикует более 20 лет.
			</p>
			<p>
				Проводит частные приемы, парные и групповые занятия.
			</p>
			<p>
				Консультант-биоэнерготерапевт программы «Параллельный мир».
			</p>
			<p>
				Театральный режиссёр и сценарист.
			</p>
			<p>
				Лилейна Алайя - поэтесса, автор сборников «Блики», «Прикосновение». Певица, автор и исполнитель в стиле нео-романс. Выпустила диски «В ожидании любви», «Проникновение небес», «Колыбельная для любимого».
			</p>
		</div>
	</div>
</section>