<section class="event-page-all">
	<div class="container">

		<!--статья 1-->
		<div class="event-page-all__item clearfix">
			<div class="event-page-all__item__img">
				<div class="img-box">
					<img src="../images/pic/bert-hellinger.png" alt="img">
				</div>
				<div class="event-page-all__item__date">
					Статья
				</div>
			</div>
			
			<div class="event-page-all__item__about">
				<a href="blog-page-001.html" class="event-page-all__item__title">
					БЕРТ ХЕЛЛИНГЕР: ТОТ, КОМУ ДАЛИ СВЫШЕ МЕРЫ, УЙДЁТ ИЗ ОТНОШЕНИЙ
				</a>
				<a href="blog-page-001.html" class="event-page-all__item__txt">
					Давать и брать. Давать и брать с любовью. Беспорядки в процессе «давать и брать». Передать дальше, чтобы уравновесить. Восстановление равновесия в негативе. Месть с любовью
				</a>
				<a href="blog-page-001.html" class="more">
					<i class="icon icon-more"></i>
				</a>
			</div>
		</div>

	</div>
</section>