<section class="cards">
	<div class="container">
		<p>
			Также у нас на сайте вы можете приобрести метафорические карты для проработки личных ситуаций или помощи другим
		</p>
		<div class="cards__shop">
			<div class="cards__shop__item">
				<a href="cards-page.html" class="cards__shop__item__title">
					Семейные истории
				</a>
				<a href="cards-page.html" class="img-box">
					<img src="../images/pic/metaforicheskie_karti-3.jpg" alt="img">
				</a>
				<p>
					390 грн.
				</p>
			</div>
			<div class="cards__shop__item">
				<a href="cards-page.html" class="cards__shop__item__title">
					Мужской портрет
				</a>
				<a href="cards-page.html" class="img-box">
					<img src="../images/pic/metaforicheskie_karti-1.jpg" alt="img">
				</a>
				<p>
					390 грн.
				</p>
			</div>
			<div class="cards__shop__item">
				<a href="cards-page.html" class="cards__shop__item__title">
					Женский портрет
				</a>
				<a href="cards-page.html" class="img-box">
					<img src="../images/pic/metaforicheskie_karti-2.jpg" alt="img">
				</a>
				<p>
					390 грн.
				</p>
			</div>
			<div class="cards__shop__item">
				<a href="cards-page.html" class="cards__shop__item__title">
					Комплект из трех колод
				</a>
				<a href="cards-page.html" class="img-box">
					<img src="../images/pic/metaforicheskie_karti-4.jpg" alt="img">
				</a>
				<p>
					999 грн.
				</p>
			</div>
		</div>
	</div>
	<button class="details">
		<a href="cards-page.html">ПОДРОБНЕЕ</a>
	</button>
</section>