<section class="consultation">
	<div class="container clearfix">
		<div id="circle"></div>
		<div class="consultation__about">
			<h2>Консультации по жизненным ситуациям и индивидуальные занятия</h2>
			<p>
				Вы можете записаться на личную консультацию мастера, позвонив по номеру
			</p>
			<p class="consultation__about__contact">
				+38 050 447 44 89
			</p>
			<p>
				или написав нам на e-mail
			</p>
			<p class="consultation__about__contact">
				lileinaa@gmail.com
			</p>
		</div>
	</div>
	<button class="details">
		<a href="consultation-page.html">ПОДРОБНЕЕ</a>
	</button>
</section>