<section class="consultation-page">
	<div class="container">
		<div class="consultation-page__prev">
			<h2>
				Консультации по жизненным ситуациям
			</h2>
			<p>
				Для разрешения проблемных жизненных ситуаций и вывода своей жизни на более высокий уровень, повышения градуса счастья и радости звоните
			</p>
			<p class="consultation-page__prev__contact">
				+38 050 326 91 12
			</p>
			<p>
				или пишите на e-mail
			</p>
			<p class="consultation-page__prev__contact">
				lileinaa@gmail.com
			</p>
		</div>

		<h4>
			Индивидуальные занятия
		</h4>
		<div class="consultation-page__detail">
			<div class="img-box">
				<img src="../images/pic/lotos-3.png" alt="img">
			</div>
			<p>
				Звукорезонансная терапия с помощью тибетских чаш
			</p>
		</div>
		<div class="consultation-page__detail">
			<div class="img-box">
				<img src="../images/pic/lotos-3.png" alt="img">
			</div>
			<p>
				Клиентская работа с применением авторских колод метафорических ассоциативных карт
			</p>
		</div>
		<div class="consultation-page__detail">
			<div class="img-box">
				<img src="../images/pic/lotos-3.png" alt="img">
			</div>
			<p>
				Восстановление репродуктивной деятельности, осознание и избавление от проблем, связанных с гинекологией
			</p>
		</div>
		<div class="consultation-page__detail">
			<div class="img-box">
				<img src="../images/pic/lotos-3.png" alt="img">
			</div>
			<p>
				Работа с подсознанием с помощью различных медитативных и дыхательных практик
			</p>
		</div>
		<div class="consultation-page__detail">
			<div class="img-box">
				<img src="../images/pic/lotos-3.png" alt="img">
			</div>
			<p>
				Анализ и синтез прошлой жизни, толкование сновидений с помощью ясновидения и таро
			</p>
		</div>
		<div class="consultation-page__detail">
			<div class="img-box">
				<img src="../images/pic/lotos-3.png" alt="img">
			</div>
			<p>
				Консультации по применению трав как альтернативного вида лекарств
			</p>
		</div>
		<div class="consultation-page__detail">
			<div class="img-box">
				<img src="../images/pic/lotos-3.png" alt="img">
			</div>
			<p>
				Эзотерическая форма оздоровления с помощью звука, музыки и пения
			</p>
		</div>
		<div class="consultation-page__detail">
			<div class="img-box">
				<img src="../images/pic/lotos-3.png" alt="img">
			</div>
			<p>
				Расстановки
			</p>
		</div>
		<div class="consultation-page__detail">
			<div class="img-box">
				<img src="../images/pic/lotos-3.png" alt="img">
			</div>
			<p>
				Арт-терапия
			</p>
		</div>
		<div class="consultation-page__detail">
			<div class="img-box">
				<img src="../images/pic/lotos-3.png" alt="img">
			</div>
			<p>
				Коррекция настоящего и будущего с помощью осознания прошлого, избавления от страхов
			</p>
		</div>
		<div class="consultation-page__detail">
			<div class="img-box">
				<img src="../images/pic/lotos-3.png" alt="img">
			</div>
			<p>
				Семейная консультация
			</p>
		</div>
		<div class="consultation-page__detail">
			<div class="img-box">
				<img src="../images/pic/lotos-3.png" alt="img">
			</div>
			<p>
				Настройка денежных потоков
			</p>
		</div>

		<h4>
			Парные занятия
		</h4>
		<div class="consultation-page__detail">
			<div class="img-box">
				<img src="../images/pic/lotos-3.png" alt="img">
			</div>
			<p>
				Парные практики по энергетике взаимоотношений
			</p>
		</div>
		<div class="consultation-page__detail">
			<div class="img-box">
				<img src="../images/pic/lotos-3.png" alt="img">
			</div>
			<p>
				Консультации по разрешению конфликтных ситуаций во взаимоотношениях с партнером
			</p>
		</div>
		<div class="consultation-page__detail">
			<div class="img-box">
				<img src="../images/pic/lotos-3.png" alt="img">
			</div>
			<p>
				Колыбельные для настоящих и будущих родителей. Создание колыбельных, техника пения
			</p>
		</div>
	</div>
</section>
