<section class="contact-page-about">
	<div class="container clearfix">
		<div class="img-box">
			<img src="../images/pic/contact.png" alt="">
		</div>
		<div class="contact-page-about__txt">
			<p>
				Лилейна Алайя - автор школы "Астика"
			</p>
			<p class="contact-page-about__txt__contact">
				+38 050 447 44 89
			</p>
			<p class="contact-page-about__txt__contact">
				lileinaa@gmail.com
			</p>
			<p>
				Оксана Шевченко - организатор
			</p>
			<p class="contact-page-about__txt__contact">
				+38 050 626 13 13
			</p>
			<div class="contact-page-about__txt__fb">
				<p>
					Мы на
				</p>
				<a href="https://www.facebook.com/astikalileina/?fref=ts">
					<i class="icon icon-fb"></i>
				</a>
			</div>
		</div>
	</div>
</section>