<section class="creation-page-1-block">
	<div class="container">
		<div class="creation-page-1-block__prev clearfix">
			<div class="img-box">
				<img src="../images/pic/04-01.jpg" alt="img">
			</div>			
			<div class="creation-page-1-block__prev__txt">
				<h4>
					ПИОНЫ В ВАЗЕ
				</h4>
				<p>
					Холст / масло 50 х 70 Лилейна Алайя (Елена Апполонова-Веденская)
				</p>
				<p>
					Чтобы купить картину, звоните:
				</p>
				<p class="creation-page-1-block__prev__contact">
					+38 099 004 96 69
				</p>
				<p>
					или пишите:
				</p>
				<p class="creation-page-1-block__prev__contact">
					lileinaa@gmail.com
				</p>

				<a href="https://www.facebook.com/lileina.alaya?fref=pb&hc_location=friends_tab&pnref=friends.all">
					<i class="icon icon-fb"></i>
				</a>
			</div>
		</div>

		<div class="img-box">
			<img src="../images/pic/04-01.jpg" alt="img">
		</div>

	</div>
</section>