<section class="creation">
	<h2>ТВОРЧЕСКАЯ МАСТЕРСКАЯ</h2>
	<div class="container">
		<div class="creation__pictures">
			<a href="creation-page-1.html" class="img-box">
				<img src="../images/pic/01-01.jpg" alt="img">
			</a>
			<a href="creation-page-1.html" class="i_want-1">
				ХОЧУ КАРТИНУ!
			</a>
			<a href="creation-page-2.html" class="img-box">
				<img src="../images/pic/02-01.jpg" alt="img">
			</a>
			<a href="creation-page-2.html" class="i_want-2" class="pic-2">
				ХОЧУ КАРТИНУ!
			</a>
			<a href="creation-page-3.html" class="img-box">
				<img src="../images/pic/03-01.jpg" alt="img">
			</a>
			<a href="creation-page-3.html" class="i_want-3" class="pic-3">
				ХОЧУ КАРТИНУ!
			</a>
			<a href="creation-page-4.html" class="img-box">
				<img src="../images/pic/04-01.jpg" alt="img">
			</a>
			<a href="creation-page-4.html" class="i_want-4" class="pic-4">
				ХОЧУ КАРТИНУ!
			</a>
			<a href="creation-page-5.html" class="img-box">
				<img src="../images/pic/05-01.jpg" alt="img">
			</a>
			<a href="creation-page-5.html" class="i_want-5" class="pic-5">
				ХОЧУ КАРТИНУ!
			</a>
			<a href="creation-page-6.html" class="img-box">
				<img src="../images/pic/06-01.jpg" alt="img">
			</a>
			<a href="creation-page-6.html" class="i_want-6" class="pic-6">
				ХОЧУ КАРТИНУ!
			</a>
		</div>

		<div class="creation__phrase">
			<a href="creation-page.html">
				"Способность творчества есть великий дар природы; акт творчества в душе творящей есть великое таинство; минута творчества есть минута великого священнодействия"
			</a>
			<div class="creation__phrase__pen clearfix">
				<div class="img-box">
					<img src="../images/pic/pen-22.png" alt="pen">
				</div>
				<p>Белинский В.Г.</p>
			</div>		
		</div>
	</div>
	<button class="details">
		<a href="creation-page.html">ПОДРОБНЕЕ</a>
	</button>
</section>