<section class="disks">
	<h2>МЕДИТАЦИИ</h2>
	<div class="container">
		<div class="disks__slick">
			<div class="disks__slick__img-box">
				<img src="../images/disks/ochisheniye.png" alt="img">
			</div>
			<div class="disks__slick__img-box">
				<img src="../images/disks/iscelenie_svetom.png" alt="img">
			</div>
			<div class="disks__slick__img-box">
				<img src="../images/disks/razgovor_s_angelom.png" alt="img">
			</div>
			<div class="disks__slick__img-box">
				<img src="../images/disks/kosmicheskij_rebenok.png" alt="img">
			</div>
			<div class="disks__slick__img-box">
				<img src="../images/disks/tainstvennyj_provodnik.png" alt="img">
			</div>
			<div class="disks__slick__img-box">
				<img src="../images/disks/volshebnyj_sad.png" alt="img">
			</div>
			<div class="disks__slick__img-box">
				<img src="../images/disks/garmonizacija.png" alt="img">
			</div>
			<div class="disks__slick__img-box">
				<img src="../images/disks/rozhdenie_zhemchuzhiny.png" alt="img">
			</div>
			<div class="disks__slick__img-box">
				<img src="../images/disks/rodovoe_drevo.png" alt="img">
			</div>
			<div class="disks__slick__img-box">
				<img src="../images/disks/dostizhenie_ehveresta.png" alt="img">
			</div>
			<div class="disks__slick__img-box">
				<img src="../images/disks/tancujushhij_lotos.png" alt="img">
			</div>
		</div>
	</div>
	<button class="details">
		<a href="disks-page.html">ПОДРОБНЕЕ</a>
	</button>
</section>

<script>
	$('.disks__slick').slick({
	  centerMode: true,
	  autoplay: true,
	  speed: 2000,
	  slidesToScroll: 1,
	  centerPadding: '60px',
	  slidesToShow: 3,
	  responsive: [
	    {
	      breakpoint: 768,
	      settings: {
	        arrows: false,
	        centerMode: true,
	        centerPadding: '40px',
	        slidesToShow: 3
	      }
	    },
	    {
	      breakpoint: 480,
	      settings: {
	        arrows: false,
	        centerMode: true,
	        centerPadding: '40px',
	        slidesToShow: 1
	      }
	    }
	  ]
	});
</script>