<section class="event-page-1-block">
	<div class="container">
		<div class="event-page-1-block__prev clearfix">
			<div class="event-page-1-block__prev__pic">
				<div class="img-box">
					<img src="../images/pic/sea.jpg" alt="img">
				</div>
				<p>
					22.06.2018
				</p>
				<script src="http://megatimer.ru/s/be5eb24af6f31217575c0af10c3a9a78.js"></script>
			</div>
			<div class="event-page-1-block__prev__txt">
				<h4>
					МОРЕ. МОРЕ ПРАКТИК, ЙОГИ И УДОВОЛЬСТВИЯ
				</h4>
				<p>
					Привет всем! Всем нашим подписчикам друзьям и клиентам! У нас для вас отличная новость. В этом году наш ежегодный летний семинар выезжает на море в Болгарию, поближе к целительной соленой водичке, ласковому солнцу и живописным пейзажам
				</p>
			</div>
		</div>

		<p class="event-page-1-block__detail-1">
			Но главное, конечно, это вдохновляющие и исцеляющие практики, разработанные по авторским методикам <a href="https://www.facebook.com/lileina.alaya" class="link-txt">Лилейны Алайя.</a>
		</p>
		<p class="event-page-1-block__detail-1">
			Эти методики помогут вам не только зарядиться на весь последующий год, но и освоить новые инструменты для осознания и оздоровления. И вы, конечно же, потом сможете использовать их самостоятельно для улучшения собственной жизни и жизни окружающих людей.
		</p>
		<p class="event-page-1-block__detail-1 detail-title">
			Что же именно входит в нашу программу? Все, что вы любите и так ждете целый год. А именно:
		</p>
		<div class="event-page-1-block__list">
			<div class="img-box">
				<img src="../images/pic/lotos-3.png" alt="">
			</div>
			<p class="event-page-1-block__list__item">
				Йога Белой Тары - Авторская программа, разработанная на основе йогических асан, пранического дыхания и движения Шакти. Рассчитана на стабилизацию гормонального баланса, пробуждение женских энергий и общего оздоровления организма.
			</p>
		</div>
		<div class="event-page-1-block__list">
			<div class="img-box">
				<img src="../images/pic/lotos-3.png" alt="">
			</div>
			<p class="event-page-1-block__list__item">
				Искусство женской молодости и красоты - Авторская программа, разработанная на основе энергетических исцеляющих практик, раскрытие и активизация работы базовых чакр, пение мантр.
			</p>
		</div>
		<div class="event-page-1-block__list">
			<div class="img-box">
				<img src="../images/pic/lotos-3.png" alt="">
			</div>
			<p class="event-page-1-block__list__item">
				Гармонизация мужского и женского начала - Авторский семинар, разработанный для балансировки и гармонизации внутреннего состояния, а также настройки отношений с противоположным полом и привлечения партнера в свою жизнь. Семинар построен на использовании медитативных практик, динамических и дыхательных упражнений. Также будут использоваться расстановочные упражнения и авторские колоды ассоциативных карт.
			</p>
		</div>
		<div class="event-page-1-block__list">
			<div class="img-box">
				<img src="../images/pic/lotos-3.png" alt="">
			</div>
			<p class="event-page-1-block__list__item">
				Нидра-йога.
			</p>
		</div>
		<div class="event-page-1-block__list">
			<div class="img-box">
				<img src="../images/pic/lotos-3.png" alt="">
			</div>
			<p class="event-page-1-block__list__item">
				Два урока живописи от <a href="https://www.facebook.com/pannochkaoksana" class="link-txt">Kseniya Art Volosiana.</a>Подробности читайте в ленте мероприятия и в группе Астика.
			</p>
		</div>
		<p class="event-page-1-block__detail-1 detail-title">
			Где мы будем жить все это время?
		</p>
		<p class="event-page-1-block__detail-1">
			Жить мы будем в тихом уютном отеле на самом берегу моря. Отель расположился недалеко от Несебера в загадочном месте "Бухта затонувших кораблей". <a href="https://www.tpg.ua/ru/country/hotel/8335689459/" class="link-txt">Отель Petrov 3*</a>
		</p>
		<p class="event-page-1-block__detail-1">
			Этот живописное уютное место среди воды и парковых зон зарядит нас энергией и подарит вдохновение для улучшения своей жизни и создания картин.
		</p>
		<p class="event-page-1-block__detail-1">
			Присоединяйтесь к нашей уникальной программе. Получите позитивный опыт и возможность разобраться в текущих ситуациях. Зарядитесь энергий молодости и красоты. А наша команда сделает все возможное для создания благоприятной и светлой атмосферы.
		</p>
		<p class="event-page-1-block__detail-1 detail-title">
			Время: с 22 по 29 июня 2018 года
		</p>
		<div class="event-page-1-block__list">
			<div class="img-box">
				<img src="../images/pic/money-2.png" alt="">
			</div>
			<p class="event-page-1-block__list__item">
				Стоимость тура 525 евро. В стоимость входит: перелет, трансфер, страховка, проживание в двухместном номере с завтраком, участие в анонсированных 4 программах, картина маслом. Оплата в размере 65% до 15 апреля обязательна (сумма уходит на оплату отеля и организационные расходы). Остальная сумма оплачивается до 15 мая. При стопроцентной оплате скидка 10%. Для участников предыдущих семинаров скидка 5%. Если вы решите поехать со своими мужьями и детьми, то для таких случаев существуют отдельные предложения, которые обговариваются индивидуально.
			</p>
		</div>
		<p class="event-page-1-block__detail-1 detail-title">
			По приезду на место проведения Вас ждет маленький сюрприз!
		</p>
		<div class="event-page-1-block__list">
			<div class="img-box">
				<img src="../images/pic/phone.png" alt="">
			</div>
			<p class="event-page-1-block__list__item">
				За более подробной информацией обращаться к организатору <a href="https://www.facebook.com/profile.php?id=100008201190330" class="link-txt">Ксении</a>
				+38 050 626 13 13
			</p>
		</div>
		<div class="event-fb">
			<p>
				Это событие на 
			</p>
			<a href="https://www.facebook.com/events/575426566141897/">
				<i class="icon icon-fb"></i>
			</a>
		</div>
	</div>
</section>