<section class="event-page-1-block">
	<div class="container">
		<div class="event-page-1-block__prev clearfix">
			<div class="event-page-1-block__prev__pic">
				<div class="img-box">
					<img src="../images/pic/angel.png" alt="img">
				</div>
				<p>
					24.12.2017
				</p>
				<script src="http://megatimer.ru/s/e58fe022691f6b4dbf12280edadd65d0.js"></script>
			</div>
			<div class="event-page-1-block__prev__txt">
				<h4>
					"АНГЕЛ НА РОЖДЕСТВО" МАСТЕР-КЛАСС ПО МАСЛЯНОЙ ЖИВОПИСИ
				</h4>
				<p>
					В преддверие Рождественских праздников приглашаем вас окунуться в праздничное настроение и сотворить волшебство своими руками
				</p>
			</div>
		</div>

		<p class="event-page-1-block__detail-1">
			Нарисовать своего Рождественского Ангела вам поможет замечательная художница <a href="https://www.facebook.com/pannochkaoksana" class="link-txt">Kseniya Art Volosiana</a>
		</p>
		<p class="event-page-1-block__detail-1">
			За четыре часа у вас будет готовая картина с Вашим Ангелом Рождества, которая внесет в ваш дом Праздник и Волшебство Рождества.
		</p>
		<p class="event-page-1-block__detail-1 detail-title">
			Место прохождения мероприятия: Киев, ул. Терещенковская, 11, станция метро Площадь Льва Толстого или Театральная.
		</p>
		<p class="event-page-1-block__detail-1 detail-title">
			Время: с 11:00 до 15:00 24 декабря 2017 года
		</p>
		<div class="event-page-1-block__list">
			<div class="img-box">
				<img src="../images/pic/money-2.png" alt="">
			</div>
			<p class="event-page-1-block__list__item">
				Стоимость мастер-класса по масляной живописи 600 грн. В стоимость входит: холст размером 40х50 и расходные материалы для написания картины
			</p>
		</div>
		<p class="event-page-1-block__detail-1">
			Запись и предоплата в размере 150 грн. обязательна, дабы подготовить все необходимые материалы для воплощения вашего творческого порыва.
		</p>
		<div class="event-page-1-block__list">
			<div class="img-box">
				<img src="../images/pic/phone.png" alt="">
			</div>
			<p class="event-page-1-block__list__item">
				Оргазинатор - <a href="https://www.facebook.com/profile.php?id=100008201190330" class="link-txt">Ксения</a>
				+38 050 326 91 12
			</p>
		</div>
		<div class="event-fb">
			<p>
				Это событие на 
			</p>
			<a href="https://www.facebook.com/events/193587217857640/">
				<i class="icon icon-fb"></i>
			</a>
		</div>
	</div>
</section>