<section class="event-page-1-block">
	<div class="container">
		<div class="event-page-1-block__prev clearfix">
			<div class="event-page-1-block__prev__pic">
				<div class="img-box">
					<img src="../images/pic/wroclaw.jpg" alt="img">
				</div>
				<p>
					6.08.2018
				</p>
				<script src="http://megatimer.ru/s/be5eb24af6f31217575c0af10c3a9a78.js"></script>
			</div>
			<div class="event-page-1-block__prev__txt">
				<h4>
					ФОНТАН МОЛОДОСТИ И КРАСОТЫ. Ежегодный выездной летний авторский ретрит Лилейны Алайя во Вроцлаве
				</h4>
				<p>
					Как хочется провести летнее время с удовольствием. Получить больше впечатлений и увидеть новые места. К тому же хорошо бы еще и позаниматься полезными практиками, которые сделают вас моложе и наполнят новыми энергиями. А если еще пополнить свой багаж знаний и получить Сертификат ведущего... 
				</p>
			</div>
		</div>

		<p class="event-page-1-block__detail-1">
			Поэтому в этот раз мы решили подготовить для вас уникальную программу, где будет много возможностей. Вы сможете позаниматься йогой, освоить новые энергетические практики, подправить свою систему, посмотреть архитектурные ценности Вроцлава, нарисуете картину и конечно же совершите шопинг. В рамках этого ретрита желающие могут пройти дополнительный курс авторской программы омолаживающей йоги с последующей выдачей сертификата инструктора
		</p>
		<p class="event-page-1-block__detail-1 detail-title">
			Где будем жить:
		</p>
		<p class="event-page-1-block__detail-1">
			Жить мы будем в самом сердце Вроцлава на Тумском острове. Это любимое место туристов и жителей города. Тумский остров несмотря на свою активную посещаемость, сохраняет мистическую ауру тишины и спокойствия. Отель находится на самом берегу реки Одра. Ссылка на гостиницу <a href="http://www.wenderedu.pl/" class="link-txt">WenderEDU</a>
		</p>
		<p class="event-page-1-block__detail-1 detail-title">
			Как будут проходить занятия:
		</p>
		<p class="event-page-1-block__detail-1">
			Занятия будут проходить, в основном, на открытом пространстве в окружении зелени. Это поможет вам не только насладиться процессом, но и быть все время в согласии со стихиями, которые будут вас наполнять и давать новые силы.
		</p>
		<p class="event-page-1-block__detail-1 detail-title">
			Что будем практиковать:
		</p>
		<div class="event-page-1-block__list">
			<div class="img-box">
				<img src="../images/pic/lotos-3.png" alt="">
			</div>
			<p class="event-page-1-block__list__item">
				Йога Белой Тары - комплекс йоговских упражнений и дыхательных практик, направленных на омоложение и оздоровление организма.
			</p>
		</div>
		<div class="event-page-1-block__list">
			<div class="img-box">
				<img src="../images/pic/lotos-3.png" alt="">
			</div>
			<p class="event-page-1-block__list__item">
				Метафорическая игра "Связи" - игра разработана на основе авторских колод МАК "Фамильные истории" и направлена на налаживание или разрыв связей.
			</p>
		</div>
		<div class="event-page-1-block__list">
			<div class="img-box">
				<img src="../images/pic/lotos-3.png" alt="">
			</div>
			<p class="event-page-1-block__list__item">
				Тренинг "Танец стихий" - программа разработана на основе авторских медитативных и энергетических практик и напрвленна на укрепление энергетического поля, раскрытие женских энергий.
			</p>
		</div>
		<div class="event-page-1-block__list">
			<div class="img-box">
				<img src="../images/pic/lotos-3.png" alt="">
			</div>
			<p class="event-page-1-block__list__item">
				"Исцеление рода" - комплекс практик из обучающего курса "Родоведение", направленные на исцеление рода, благодарности и исправление напряженных ситуаций в жизни.
			</p>
		</div>
		<div class="event-page-1-block__list">
			<div class="img-box">
				<img src="../images/pic/lotos-3.png" alt="">
			</div>
			<p class="event-page-1-block__list__item">
				"Простить и отпустить. Принять и быть благодарным" - мастер-класс, включающий в себя методы арт-терапии и нейрографики, которые помогут вам решить вопросы в партнерских отношениях.
			</p>
		</div>
		<div class="event-page-1-block__list">
			<div class="img-box">
				<img src="../images/pic/lotos-3.png" alt="">
			</div>
			<p class="event-page-1-block__list__item">
				Урок живописи "Тумский остров" - ведущая живописец <a href="https://www.facebook.com/pannochkaoksana" class="link-txt">Kseniya Art Volosiana.</a>
			</p>
		</div>
		<div class="event-page-1-block__list">
			<div class="img-box">
				<img src="../images/pic/lotos-3.png" alt="">
			</div>
			<p class="event-page-1-block__list__item">
				Отдельно можно пройти расширенный авторский курс "Йога Белой Тары" и получить Сертификат инструктора (оплачивается отдельно).
			</p>
		</div>
		<p class="event-page-1-block__detail-1">
			Все практики являются авторскими <a href="https://www.facebook.com/lileina.alaya" class="link-txt">Лилейны Алайя (Alaya Lileina)</a>, опробованы на различных семинарах и обучающих курсах, несут мягкий исцеляющий характер и положительные результаты.
		</p>
		<p class="event-page-1-block__detail-1 detail-title">
			Время: с 6 по 13 августа 2018 года
		</p>
		<div class="event-page-1-block__list">
			<div class="img-box">
				<img src="../images/pic/money-2.png" alt="">
			</div>
			<p class="event-page-1-block__list__item">
				Стоимость ретрита 540 евро.
			</p>
		</div>
		<p class="event-page-1-block__detail-1 detail-title">
			В стоимость входит:
		</p>
		<p class="event-page-1-block__detail-1">
			перелет Киев-Вроцлав-Киев
		</p>
		<p class="event-page-1-block__detail-1">
			проживание в гостинице в 2-3х местных номерах
		</p>
		<p class="event-page-1-block__detail-1">
			завтрак
		</p>
		<p class="event-page-1-block__detail-1">
			перечисленные занятия
		</p>
		<p class="event-page-1-block__detail-1">
			прогулка на кораблике по ночному Вроцлаву
		</p>
		<p class="event-page-1-block__detail-1 detail-title">
			В стоимость не входит:
		</p>
		<p class="event-page-1-block__detail-1">
			личные расходы
		</p>
		<p class="event-page-1-block__detail-1">
			сертификация программы "Йога Белой Тары" (100 евро)
		</p>
		<p class="event-page-1-block__detail-1">
			входные билеты в музеи
		</p>
		<p class="event-page-1-block__detail-1 detail-title">
			Существует гибкая система скидок:
		</p>
		<p class="event-page-1-block__detail-1">
			При 100% оплате до 20.06 скидка 45 евро
		</p>
		<p class="event-page-1-block__detail-1">
			Для постоянных участников скидка 25 евро
		</p>
		<p class="event-page-1-block__detail-1 detail-title">
			Оплата 50% до 20.06 обязательна (оплата гостиницы и покупка авиабилетов)
		</p>
		<div class="event-page-1-block__list">
			<div class="img-box">
				<img src="../images/pic/phone.png" alt="">
			</div>
			<p class="event-page-1-block__list__item">
				За более подробной информацией обращаться к организатору <a href="https://www.facebook.com/profile.php?id=100008201190330" class="link-txt">Ксении</a>
				+38 050 626 13 13
			</p>
		</div>
		<div class="event-fb">
			<p>
				Это событие на 
			</p>
			<a href="https://www.facebook.com/events/139836023541959/">
				<i class="icon icon-fb"></i>
			</a>
		</div>
	</div>
</section>