<section class="event-page-1-block">
	<div class="container">
		<div class="event-page-1-block__prev clearfix">
			<div class="event-page-1-block__prev__pic">
				<div class="img-box">
					<img src="../images/pic/rasstanovki.png" alt="img">
				</div>
				<p>
					Скоро будет
				</p>
			</div>
			<div class="event-page-1-block__prev__txt">
				<h4>
					СИСТЕМНО-СЕМЕЙНЫЕ РАССТАНОВКИ
				</h4>
				<p>
					Открыта предварительная запись на обучение "Системно-семейные расстановки" по Берту Хеллингеру (Bert Hellinger)
				</p>
			</div>
		</div>

		<div class="event-page-1-block__detail-1">
			Места проведения: Киев, Одесса, Винница
		</div>

		<div class="event-page-1-block__detail-1">
			Время: март 2018 года
		</div>

		<div class="event-page-1-block__detail-1">
			Выдается Сертификат о прохождении обучения от Авторской Школы психологии и целительства "Астика" Лилейны Алайя
		</div>

	</div>
</section>