<section class="event-page-1-block">
	<div class="container">
		<div class="event-page-1-block__prev clearfix">
			<div class="event-page-1-block__prev__pic">
				<div class="img-box">
					<img src="../images/pic/dreams.png" alt="img">
				</div>
				<p>
					Скоро будет
				</p>
			</div>
			<div class="event-page-1-block__prev__txt">
				<h4>
					ВЕБИНАРЫ С ЛИЛЕЙНОЙ АЛАЙЯ
				</h4>
				<p>
					Приглашаем на серию вебинаров с Лилейной Алайя. Темы: коридор времени, мужское и женское, искусство наслаждения, территория ангелов, карма рода - сила предков
				</p>
			</div>
		</div>

		<div class="event-page-1-block__detail-1">
			СЛЕДИТЕ ЗА АНОНСОМ!
		</div>

	</div>
</section>