<section class="event">
	<h2>СОБЫТИЯ</h2>
	<div class="container">
		<div class="event__item">
			<a href="#" class="img-box">
				<img src="../images/pic/dvoe.png" alt="img">
			</a>
			<div class="img-box__cover">
				<a href="#" class="event__item__date">
					22.04
				</a>
				<a href="#" class="event__item__year">
					2017
				</a>
			</div>
			<a href="#" class="event__item__title">
				КОГДА НАС ДВОЕ
			</a>
			<a href="#" class="event__item__about">
				Если вы чувствуете, что в вашу жизнь не приходит партнер. Если вам кажется, что ваши отношения с партнером зашли в тупик. Если вы хотите узнать тайны магнетизма. То вам к нам
			</a>
			<a href="#" class="more">
				<i class="icon icon-more"></i>
			</a>
		</div>

		<div class="event__item">
			<a href="#" class="img-box">
				<img src="../images/pic/rasstanovki.png" alt="img">
			</a>
			<div class="img-box__cover">
				<a href="#" class="event__item__date">
					23.04
				</a>
				<a href="#" class="event__item__year">
					2017
				</a>
			</div>
			<a href="#" class="event__item__title">
				ДИФФЕРЕНЦИРОВАННЫЙ ПОДХОД В СИСТЕМНЫХ РЕШЕНИЯХ
			</a>
			<a href="#" class="event__item__about">
				Обучающая терапевтическая авторская программа Лилейны Алайя, включающая в себя расстановочные техники, элементы трансперсональной и процессуальной психологии
			</a>
			<a href="#" class="more">
				<i class="icon icon-more"></i>
			</a>
		</div>

		<div class="event__item">
			<a href="#" class="img-box">
				<img src="../images/pic/dreams.png" alt="img">
			</a>
			<div class="img-box__cover">
				<a href="#" class="event__item__date">
					28.04
				</a>
				<a href="#" class="event__item__year">
					2017
				</a>
			</div>
			<a href="#" class="event__item__title">
				КОГДА СБЫВАЮТСЯ МЕЧТЫ
			</a>
			<a href="#" class="event__item__about">
				Авторский арт-тренинг Лилейны Алайя. Умение желать — это большое искусство, ибо согласно нашим желаниям изменяется весь мир. Для кого: для тех, кто знает, чего хочет, но не знает, как достичь
			</a>
			<a href="#" class="more">
				<i class="icon icon-more"></i>
			</a>
		</div>
	</div>
</section>
