<section class="event-page-1-block">
	<div class="container">
		<div class="event-page-1-block__prev clearfix">
			<div class="event-page-1-block__prev__pic">
				<div class="img-box">
					<img src="../images/pic/love-money.png" alt="img">
				</div>
				<p>
					20.08.2017
				</p>
			</div>
			<div class="event-page-1-block__prev__txt">
				<h4>
					ЛЮБОВЬ, СЕКС И ДЕНЬГИ
				</h4>
				<p>
					Что такое любовь? Что такое секс? И что такое деньги? В нашей жизни мы давно дали всему этому определение и название. Все это очень взаимосвязано и каждому понятно, для чего ему это все нужно
				</p>
			</div>
		</div>
		<p class="event-page-1-block__detail-1">
			Мы даже сумели это все связать и определить как – энергия. Энергия, помогающая нам жить, развиваться и реализоваться в этой жизни. Но, не смотря на все эти определения, мы часто сталкиваемся с вопросом, что с этим делать и как этим управлять. У нас есть энергия и мы ее распознаем, но не управляем ею. 
		</p>
		<p class="event-page-1-block__detail-1">
			Программа тренинга создана так, чтобы дать в руки каждого из вас инструменты, с помощью которых вы сможете достигнуть желаемых результатов. На этом тренинге вы получите инструменты, которые помогут вам научиться более правильно использовать ту энергию, которой вы владели и до этого дня. Вы сможете глубже познакомиться с природой собственных желаний и истинных потребностей. Понять, на сколько соответствует действительность тому, что вам хочется иметь.
		</p>
		<p class="event-page-1-block__detail-1">
			Также вы увеличите свой природный ресурс и сможете направить его на достижение собственных целей. Правильно направленная энергия позволит вам расширить свои возможности, сознание. Вы научитесь получать истинное наслаждение от проявления сексуальной энергии, трансформации ее в чистую энергию любви. Научитесь управлять материальными потоками своей жизни, привлекая к себе Деньги.
		</p>
		<div class="event-page-1-block__list">
			<div class="img-box">
				<img src="../images/pic/vision.png" alt="">
			</div>
			<div class="event-page-1-block__list__item">
				<p class="detail-title">
					Цель тренинга:
				</p>
				<p>
					Определить свой нынешний энергетический потенциал и соответствие внутренних желаний с действительностью. С помощью авторских практик и методик увеличить активность природных данных и направить энергию для достижения гармоничных партнерских отношений, полноценную сексуальную жизнь и привлечение к себе денежных потоков
				</p>
			</div>
		</div>

		<p class="event-page-1-block__detail-1 detail-title">
			На семинаре будут использованы:
		</p>
		<div class="event-page-1-block__list">
			<div class="img-box">
				<img src="../images/pic/tools.png" alt="">
			</div>
			<p class="event-page-1-block__list__item">
				Даосские практики на восполнение и увеличение энергетического потенциала
			</p>
		</div>
		<div class="event-page-1-block__list">
			<div class="img-box">
				<img src="../images/pic/tools.png" alt="">
			</div>
			<p class="event-page-1-block__list__item">
				Гармонизация внутреннего состояния и потребностей с позиции души, тела и духа
			</p>
		</div>
		<div class="event-page-1-block__list">
			<div class="img-box">
				<img src="../images/pic/tools.png" alt="">
			</div>
			<p class="event-page-1-block__list__item">
				Развитие любви к себе и окружающему миру через принятие себя здесь и сейчас
			</p>
		</div>
		<div class="event-page-1-block__list">
			<div class="img-box">
				<img src="../images/pic/tools.png" alt="">
			</div>
			<p class="event-page-1-block__list__item">
				Арт-терапевтические методы диагностирования внутреннего состояния и решение проблемы
			</p>
		</div>
		<div class="event-page-1-block__list">
			<div class="img-box">
				<img src="../images/pic/tools.png" alt="">
			</div>
			<p class="event-page-1-block__list__item">
				Дыхательные практики на устранение внутренних зажимов и запуск энергетических каналов
			</p>
		</div>
		<div class="event-page-1-block__list">
			<div class="img-box">
				<img src="../images/pic/tools.png" alt="">
			</div>
			<p class="event-page-1-block__list__item">
				Авторские методики корректирования внутреннего баланса
			</p>
		</div>
		<div class="event-page-1-block__list">
			<div class="img-box">
				<img src="../images/pic/tools.png" alt="">
			</div>
			<p class="event-page-1-block__list__item">
				Авторские методики настройки внутреннего магнита на привлечение желаемого в свою жизнь
			</p>
		</div>
		<div class="event-page-1-block__list">
			<div class="img-box">
				<img src="../images/pic/tools.png" alt="">
			</div>
			<p class="event-page-1-block__list__item">
				Упражнения для развития сексуальной энергии и трасформации ее в творческий потенциал
			</p>
		</div>
		<div class="event-page-1-block__list">
			<div class="img-box">
				<img src="../images/pic/tools.png" alt="">
			</div>
			<p class="event-page-1-block__list__item">
				Методики, позволяющие привлечь к себе желаемого партнера
			</p>
		</div>
		<div class="event-page-1-block__list">
			<div class="img-box">
				<img src="../images/pic/tools.png" alt="">
			</div>
			<p class="event-page-1-block__list__item">
				Практики, позволяющие правильно распределять энергию в партнерских отношениях, для улучшения духовно-эмоционального контакта
			</p>
		</div>
		<div class="event-page-1-block__list">
			<div class="img-box">
				<img src="../images/pic/tools.png" alt="">
			</div>
			<p class="event-page-1-block__list__item">
				Практики, позволяющие увеличить денежный поток в свою личную жизнь или в семейный эгрегор
			</p>
		</div>

		<p class="event-page-1-block__detail-1 detail-title">
			В ходе семинара вы получите:
		</p>
		<div class="event-page-1-block__list">
			<div class="img-box">
				<img src="../images/pic/lotos-3.png" alt="">
			</div>
			<p class="event-page-1-block__list__item">
				Хорошее настроение и массу позитивных эмоций
			</p>
		</div>
		<div class="event-page-1-block__list">
			<div class="img-box">
				<img src="../images/pic/lotos-3.png" alt="">
			</div>
			<p class="event-page-1-block__list__item">
				Эмоциональное и физическое оздоровление
			</p>
		</div>
		<div class="event-page-1-block__list">
			<div class="img-box">
				<img src="../images/pic/lotos-3.png" alt="">
			</div>
			<p class="event-page-1-block__list__item">
				Простые инструменты и медитации, которые вы в дальнейшем сможете самостоятельно использовать
			</p>
		</div>
		<div class="event-page-1-block__list">
			<div class="img-box">
				<img src="../images/pic/lotos-3.png" alt="">
			</div>
			<p class="event-page-1-block__list__item">
				И многое другое. Все согласно вашему желанию.
			</p>
		</div>
		<p class="event-page-1-block__detail-1 detail-title">
			Вселенная слышит. Только нужно правильно оформить запрос. Приходите на семинар, и мы вместе сделаем все, чтобы ваша жизнь засверкала всеми цветами радуги
		</p>
		<p class="event-page-1-block__detail-1">
			Данный тренинг разработан как для женщин, так и для мужчин. Возраст: от 20 лет и старше
		</p>
		<p class="event-page-1-block__detail-1 detail-title">
			Место проведения: Киев
		</p>
		<p class="event-page-1-block__detail-1 detail-title">
			Время: 20 августа 2017 года
		</p>
		<div class="event-page-1-block__list">
			<div class="img-box">
				<img src="../images/pic/phone.png" alt="">
			</div>
			<p class="event-page-1-block__list__item">
				Оргазинатор - Александра
				+38 099 004 96 69
			</p>
		</div>
		<div class="event-fb">
			<p>
				Это событие на 
			</p>
			<a href="https://www.facebook.com/events/120077738629975/permalink/120080421963040/">
				<i class="icon icon-fb"></i>
			</a>
		</div>
	</div>
</section>