<section class="event-page-all">
	<div class="container">
		<div class="event-page-all__item clearfix">
			<div class="event-page-all__item__img">
				<div class="img-box">
					<img src="../images/pic/cards.png" alt="img">
				</div>
				<div class="event-page-all__item__date">
					19.08.2017
				</div>
			</div>
			
			<div class="event-page-all__item__about">
				<a href="event-page-1.html" class="event-page-all__item__title">
					ОБУЧЕНИЕ РАБОТЕ С МЕТАФОРИЧЕСКИМИ КАРТАМИ В ИГРЕ "СВЯЗИ"
				</a>
				<a href="event-page-1.html" class="event-page-all__item__txt">
					Метафорические карты – это один из самых прогрессивных и перспективных инструментов для работы в психологии, терапии и коучинге
				</a>
				<a href="event-page-1.html" class="more">
					<i class="icon icon-more"></i>
				</a>
			</div>
		</div>

		<div class="event-page-all__item clearfix">
			<div class="event-page-all__item__img">
				<div class="img-box">
					<img src="../images/pic/love-money.png" alt="img">
				</div>
				<div class="event-page-all__item__date">
					20.08.2017
				</div>
			</div>
			
			<div class="event-page-all__item__about">
				<a href="event-page-20-08.html" class="event-page-all__item__title">
					ЛЮБОВЬ, СЕКС И ДЕНЬГИ
				</a>
				<a href="event-page-20-08.html" class="event-page-all__item__txt">
					Что такое любовь? Что такое секс? И что такое деньги? В нашей жизни мы давно дали всему этому определение и название. Но все равно мы часто сталкиваемся с вопросом, что с этим делать и как этим управлять
				</a>
				<a href="event-page-20-08.html" class="more">
					<i class="icon icon-more"></i>
				</a>
			</div>
		</div>

		<div class="event-page-all__item clearfix">
			<div class="event-page-all__item__img">
				<div class="img-box">
					<img src="../images/pic/rasstanovki.png" alt="img">
				</div>
				<div class="event-page-all__item__date">
					скоро будет
				</div>
			</div>
			
			<div class="event-page-all__item__about">
				<a href="event-page-2.html" class="event-page-all__item__title">
					СИСТЕМНО-РОДОВЫЕ РАССТАНОВКИ
				</a>
				<a href="event-page-2.html" class="event-page-all__item__txt">
					Открыта предварительная запись на обучение системно-родовым расстановкам по Берту Хеллингеру. После прохождения обучения выдается сертификат
				</a>
				<a href="event-page-2.html" class="more">
					<i class="icon icon-more"></i>
				</a>
			</div>
		</div>

		<div class="event-page-all__item clearfix">
			<div class="event-page-all__item__img">
				<div class="img-box">
					<img src="../images/pic/dreams.png" alt="img">
				</div>
				<div class="event-page-all__item__date">
					скоро будет
				</div>
			</div>
			
			<div class="event-page-all__item__about">
				<a href="event-page-3.html" class="event-page-all__item__title">
					ВЕБИНАРЫ С ЛИЛЕЙНОЙ АЛАЙЯ
				</a>
				<a href="event-page-3.html" class="event-page-all__item__txt">
					Приглашаем на серию вебинаров с Лилейной Алайя. Темы: коридор времени, мужское и женское, искусство наслаждения, территория ангелов, карма рода - сила предков
				</a>
				<a href="event-page-3.html" class="more">
					<i class="icon icon-more"></i>
				</a>
			</div>
		</div>
	</div>
</section>