<section class="event-page-1-block">
	<div class="container">
		<div class="event-page-1-block__prev clearfix">
			<div class="event-page-1-block__prev__pic">
				<div class="img-box">
					<img src="../images/pic/love-money.png" alt="img">
				</div>
				<p>
					20.08.2017
				</p>
			</div>
			<div class="event-page-1-block__prev__txt">
				<h4>
					ЛЮБОВЬ, СЕКС И ДЕНЬГИ
				</h4>
				<p>
					Что такое любовь? Что такое секс? И что такое деньги? В нашей жизни мы давно дали всему этому определение и название. Все это очень взаимосвязано и каждому понятно, для чего ему это все нужно
				</p>
			</div>
		</div>

		<div class="event-page-1-block__detail-1">
			Мы даже сумели это все связать и определить как – энергия. Энергия, помогающая нам жить, развиваться и реализоваться в этой жизни. Но, не смотря на все эти определения, мы часто сталкиваемся с вопросом, что с этим делать и как этим управлять. У нас есть энергия и мы ее распознаем, но не управляем ею. 
		</div>

		<div class="event-page-1-block__detail-1">
			Программа тренинга создана так, чтобы дать в руки каждого из вас инструменты, с помощью которых вы сможете достигнуть желаемых результатов. На этом тренинге вы получите инструменты, которые помогут вам научиться более правильно использовать ту энергию, которой вы владели и до этого дня. Вы сможете глубже познакомиться с природой собственных желаний и истинных потребностей. Понять, на сколько соответствует действительность тому, что вам хочется иметь.
		</div>

		<div class="event-page-1-block__detail-1">
			Также вы увеличите свой природный ресурс и сможете направить его на достижение собственных целей. Правильно направленная энергия позволит вам расширить свои возможности, сознание. Вы научитесь получать истинное наслаждение от проявления сексуальной энергии, трансформации ее в чистую энергию любви. Научитесь управлять материальными потоками своей жизни, привлекая к себе Деньги.
		</div>

		<div class="event-page-1-block__detail-1 detail-title">
			Цель тренинга:
		</div>

		<div class="event-page-1-block__detail-1">
			Определить свой нынешний энергетический потенциал и соответствие внутренних желаний с действительностью. С помощью авторских практик и методик увеличить активность природных данных и направить энергию для достижения гармоничных партнерских отношений, полноценную сексуальную жизнь и привлечение к себе денежных потоков.
		</div>

		<div class="event-page-1-block__detail-1 detail-title">
			Место проведения: Киев
		</div>

		<div class="event-page-1-block__detail-1 detail-title">
			Время: 20 августа 2017 года
		</div>

		<div class="event-page-1-block__detail-1 detail-title">
			Организатор: Александра (099 004 96 69)
		</div>

		<div class="event-fb">
			<p>
				Это событие на 
			</p>
			<a href="https://www.facebook.com/events/120077738629975/permalink/120080421963040/">
				<i class="icon icon-fb"></i>
			</a>
		</div>

	</div>
</section>