<section class="event-page-1-block">
	<div class="container">
		<div class="event-page-1-block__prev clearfix">
			<div class="event-page-1-block__prev__pic">
				<div class="img-box">
					<img src="../images/pic/rasstanovki-2.png" alt="img">
				</div>
				<p>
					18.03.2018
				</p>
				<script src="http://megatimer.ru/s/b5f507e8072a9a7d64046eed1bbba9c3.js"></script>
			</div>
			<div class="event-page-1-block__prev__txt">
				<h4>
					РАССТАНОВОЧНАЯ ГРУППА
				</h4>
				<p>
					Приглашаем вас принять участие в нашей расстановочной группе. Расстановки проходят в контексте авторского метода <a href="https://www.facebook.com/lileina.alaya" class="link-txt">Лилейны Алайя</a> и рассчитаны на исцеление тела, ситуаций и разрешения проблем в целом
				</p>
			</div>
		</div>

		<p class="event-page-1-block__detail-1">
			Вы можете принять участие в группе, как имеющий свой запрос - протагонистом, так и принять участие заместителем.
		</p>
		<p class="event-page-1-block__detail-1 detail-title">
			Какие вопросы возможно разрешить с помощью расстановок?
		</p>
		<div class="event-page-1-block__list">
			<div class="img-box">
				<img src="../images/pic/lotos-3.png" alt="">
			</div>
			<p class="event-page-1-block__list__item">
				Почему мне сложно начать дело?
			</p>
		</div>
		<div class="event-page-1-block__list">
			<div class="img-box">
				<img src="../images/pic/lotos-3.png" alt="">
			</div>
			<p class="event-page-1-block__list__item">
				Где мои финансы?
			</p>
		</div>
		<div class="event-page-1-block__list">
			<div class="img-box">
				<img src="../images/pic/lotos-3.png" alt="">
			</div>
			<p class="event-page-1-block__list__item">
				Как наладить отношения с моими родителями и детьми?
			</p>
		</div>
		<div class="event-page-1-block__list">
			<div class="img-box">
				<img src="../images/pic/lotos-3.png" alt="">
			</div>
			<p class="event-page-1-block__list__item">
				Причина моего заболевания и как стать здоровым?
			</p>
		</div>
		<div class="event-page-1-block__list">
			<div class="img-box">
				<img src="../images/pic/lotos-3.png" alt="">
			</div>
			<p class="event-page-1-block__list__item">
				и многое другое.
			</p>
		</div>
		<p class="event-page-1-block__detail-1 detail-title">
			Расстановки проводят ученики Авторской школы психологии и целительства Лилейны Алайя "Астика"
		</p>
		<p class="event-page-1-block__detail-1">
			<a href="https://www.facebook.com/profile.php?id=100008201190330" class="link-txt">Ксения Шевченко</a>
		</p>
		<p class="event-page-1-block__detail-1">
			<a href="https://www.facebook.com/nataly.makarenko.3" class="link-txt">Наталья Макаренко</a>
		</p>
		<p class="event-page-1-block__detail-1">
			<a href="https://www.facebook.com/galina.krasjuk" class="link-txt">Галина Красюк</a>
		</p>
		<p class="event-page-1-block__detail-1">
			<a href="https://www.facebook.com/kalindi.in" class="link-txt">Інна Недашківська</a>
		</p>
		<p class="event-page-1-block__detail-1">
			<a href="https://www.facebook.com/profile.php?id=100002562403342" class="link-txt">Людмила Федорак</a>
		</p>
		<p class="event-page-1-block__detail-1">
			 <a href="https://www.facebook.com/alex.kovalova.9" class="link-txt">Олександра Ковальова</a>
		</p>
		<p class="event-page-1-block__detail-1">
			Расстановки проходят экологично, максимально безапасно для клиентов и систем, без эмоциональных стрессов с последующим позитивным настроем.
		</p>
		<p class="event-page-1-block__detail-1 detail-title">
			Место прохождения мероприятия: Киев, ул. Терещенковская, 11, станция метро Площадь Льва Толстого или Театральная.
		</p>
		<p class="event-page-1-block__detail-1 detail-title">
			Время: с 11:30 до 14:30 18 марта 2018 года
		</p>
		<div class="event-page-1-block__list">
			<div class="img-box">
				<img src="../images/pic/money-2.png" alt="">
			</div>
			<p class="event-page-1-block__list__item">
				Стоимость клиентского запроса 650 грн. Стоимость для заместителя 150 грн.
			</p>
		</div>
		<div class="event-page-1-block__list">
			<div class="img-box">
				<img src="../images/pic/phone.png" alt="">
			</div>
			<p class="event-page-1-block__list__item">
				Оргазинатор - <a href="https://www.facebook.com/profile.php?id=100008201190330" class="link-txt">Ксения</a>
				+38 050 626 13 13
			</p>
		</div>
		<div class="event-fb">
			<p>
				Это событие на 
			</p>
			<a href="https://www.facebook.com/events/826313887552727/">
				<i class="icon icon-fb"></i>
			</a>
		</div>
	</div>
</section>