<section class="event-page-1-block">
	<div class="container">
		<div class="event-page-1-block__prev clearfix">
			<div class="event-page-1-block__prev__pic">
				<div class="img-box">
					<img src="../images/pic/rasstanovki-2.png" alt="img">
				</div>
				<p>
					10.12.2017
				</p>
			</div>
			<div class="event-page-1-block__prev__txt">
				<h4>
					РАССТАНОВОЧНАЯ ГРУППА
				</h4>
				<p>
					Расстановки проводят успешные выпускницы обучающей группы школы "Астика", ученицы Лилейны Алайя
				</p>
			</div>
		</div>

		<p class="event-page-1-block__detail-1 detail-title">
			С какими запросами Вы можете поработать:
		</p>
		<div class="event-page-1-block__list">
			<div class="img-box">
				<img src="../images/pic/lotos-3.png" alt="">
			</div>
			<p class="event-page-1-block__list__item">
				Детско-родительские отношения. Даже если у Вас уже есть свои взрослые дети, а Ваших родителей давно нет в живых. Поддержка Рода в трудных жизненных ситуациях
			</p>
		</div>
		<div class="event-page-1-block__list">
			<div class="img-box">
				<img src="../images/pic/lotos-3.png" alt="">
			</div>
			<p class="event-page-1-block__list__item">
				Работа с Причинами и Симптомами заболевания. Осознание Причины заболевания дает позитивный эффект в физическом теле
			</p>
		</div>
		<div class="event-page-1-block__list">
			<div class="img-box">
				<img src="../images/pic/lotos-3.png" alt="">
			</div>
			<p class="event-page-1-block__list__item">
				 Построение парных отношений. Парные отношения это: муж-жена, друзья, партнеры по бизнесу. Распределение ответственности за семью, воспитания детей, обязанности, бизнес. Принятие ответственности за свою жизнь
			</p>
		</div>
		<div class="event-page-1-block__list">
			<div class="img-box">
				<img src="../images/pic/lotos-3.png" alt="">
			</div>
			<p class="event-page-1-block__list__item">
				Повторяющиеся травматические ситуации. Разбор повторяющихся травматических ситуаций, принятие опыта и изменение модели поведения, которое разорвет "гордиев узел", и многие другие аспекты, которые не дают Вам полноценно наслаждаться этой прекрасной Жизнью
			</p>
		</div>

		<div class="event-fb">
			<p class="detail-title">
				Узнайте больше про расстановки по методу Берта Хеллингера
			</p>
			<a href="blog-page-001.html">
				<i class="icon icon-more"></i>
			</a>
		</div>

		<p class="event-page-1-block__detail-1 detail-title">
			Ведущие расстановок:
		</p>
		<div class="event-page-1-block__list">
			<div class="img-box">
				<img src="../images/pic/men.png" alt="">
			</div>
			<p class="event-page-1-block__list__item">
				Ксения Шевченко (организатор и расстановщик, психолог)
			</p>
		</div>
		<div class="event-page-1-block__list">
			<div class="img-box">
				<img src="../images/pic/men.png" alt="">
			</div>
			<p class="event-page-1-block__list__item">
				Инна Недашкивська (расстановщик, инструктор по йоге, учитель танцев)
			</p>
		</div>
		<div class="event-page-1-block__list">
			<div class="img-box">
				<img src="../images/pic/men.png" alt="">
			</div>
			<p class="event-page-1-block__list__item">
				Наталья Макаренко (расстановщик, психолог, преподаватель иностранных языков)
			</p>
		</div>
		<div class="event-page-1-block__list">
			<div class="img-box">
				<img src="../images/pic/men.png" alt="">
			</div>
			<p class="event-page-1-block__list__item">
				Людмила Федорак (расстановщик, дизайнер интерьера)
			</p>
		</div>
		<div class="event-page-1-block__list">
			<div class="img-box">
				<img src="../images/pic/men.png" alt="">
			</div>
			<p class="event-page-1-block__list__item">
				Галина Красюк (расстановщик, психолог, преподаватель украинского языка, ведущая игры "22 аркана")
			</p>
		</div>
		<div class="event-page-1-block__list">
			<div class="img-box">
				<img src="../images/pic/men.png" alt="">
			</div>
			<p class="event-page-1-block__list__item">
				Александра Ковалева (расстановщик, адвокат)
			</p>
		</div>

		<p class="event-page-1-block__detail-1 detail-title">
			Место проведения: Киев, ул. Терещенковская 11
		</p>
		<p class="event-page-1-block__detail-1 detail-title">
			Время: с 11:00 до 14:00 10 декабря 2017 года
		</p>
		<div class="event-page-1-block__list">
			<div class="img-box">
				<img src="../images/pic/phone.png" alt="">
			</div>
			<p class="event-page-1-block__list__item">
				Оргазинатор - Ксения
				+38 050 326 91 12
			</p>
		</div>
		<div class="event-fb">
			<p>
				Это событие на 
			</p>
			<a href="https://www.facebook.com/events/2002994806601539/">
				<i class="icon icon-fb"></i>
			</a>
		</div>
	</div>
</section>