<section class="event">
	<h2>СОБЫТИЯ</h2>
	<div class="container">

		<!--событие 2-->
		<div class="event__item">
			<a href="event-page-18-03-2018.html" class="img-box">
				<img src="../images/pic/rasstanovki-21.png" alt="img">
			</a>
			<div class="img-box__cover">
				<a href="event-page-18-03-2018.html" class="event__item__date">
					18.03
				</a>
				<a href="event-page-18-03-2018.html" class="event__item__year">
					2018
				</a>
			</div>
			<a href="event-page-18-03-2018.html" class="event__item__title">
				РАССТАНОВОЧНАЯ ГРУППА
			</a>
			<a href="event-page-18-03-2018.html" class="event__item__about">
				Приглашаем вас принять участие в нашей расстановочной группе. Расстановки проходят в контексте авторского метода Лилейны Алайя и рассчитаны на исцеление тела, ситуаций и разрешения проблем в целом
			</a>
			<a href="event-page-18-03-2018.html" class="more">
				<i class="icon icon-more"></i>
			</a>
		</div>

		<!--событие 1-->
		<div class="event__item">
			<a href="event-page-24-03-2018.html" class="img-box">
				<img src="../images/pic/door-3.jpg" alt="img">
			</a>
			<div class="img-box__cover">
				<a href="event-page-24-03-2018.html" class="event__item__date">
					24.03
				</a>
				<a href="event-page-24-03-2018.html" class="event__item__year">
					2018
				</a>
			</div>
			<a href="event-page-24-03-2018.html" class="event__item__title">
				"ДВЕРЬ В МОЙ МИР" МАСТЕР-КЛАСС ПО ЖИВОПИСИ
			</a>
			<a href="event-page-24-03-2018.html" class="event__item__about">
				Почему же именно дверь? А что для вас означает дверь? Дверь в сказку... Дверь в неведомый мир... Дверь во что-то удивительное и новое... Изобразив дверь, вы покажете частичку своего уникального мира, расскажете удивительные истории вашей жизни
			</a>
			<a href="event-page-24-03-2018.html" class="more">
				<i class="icon icon-more"></i>
			</a>
		</div>

		<!--событие 3-->
		<div class="event__item">
			<a href="event-page-22-06-2018.html" class="img-box">
				<img src="../images/pic/sea_beach-1.jpg" alt="img">
			</a>
			<div class="img-box__cover">
				<a href="event-page-22-06-2018.html" class="event__item__date">
					22.06
				</a>
				<a href="event-page-22-06-2018.html" class="event__item__year">
					2018
				</a>
			</div>
			<a href="event-page-22-06-2018.html" class="event__item__title">
				МОРЕ. МОРЕ ПРАКТИК, ЙОГИ И УДОВОЛЬСТВИЯ
			</a>
			<a href="event-page-22-06-2018.html" class="event__item__about">
				Этим летом наш ежегодный семинар выезжает на море в Болгарию, к целительной соленой водичке, ласковому солнцу и живописным пейзажам. Там вас ждут вдохновляющие и исцеляющие практики, разработанные по авторским методикам Лилейны Алайя
			</a>
			<a href="event-page-22-06-2018.html" class="more">
				<i class="icon icon-more"></i>
			</a>
		</div>

		<!--событие 2-->
		<!--<div class="event__item">
			<a href="event-page-1.html" class="img-box">
				<img src="../images/pic/cards.png" alt="img">
			</a>
			<div class="img-box__cover">
				<a href="event-page-1.html" class="event__item__date">
					03.02
				</a>
				<a href="event-page-1.html" class="event__item__year">
					2018
				</a>
			</div>
			<a href="event-page-1.html" class="event__item__title">
				ОБУЧЕНИЕ РАБОТЕ С МЕТАФОРИЧЕСКИМИ КАРТАМИ В ИГРЕ "СВЯЗИ"
			</a>
			<a href="event-page-1.html" class="event__item__about">
				Метафорические карты – это один из самых прогрессивных и перспективных инструментов для работы в психологии, терапии и коучинге
			</a>
			<a href="event-page-1.html" class="more">
				<i class="icon icon-more"></i>
			</a>
		</div>-->

	</div>
	<button class="details">
		<a href="event-page.html">ПОДРОБНЕЕ</a>
	</button>
</section>
