<section class="graduation-page-about">
	<div class="container clearfix">
		<div class="img-box">
			<img src="../images/pic/astika_diplom.jpg" alt="photo">
		</div>
		<div class="graduation-page-about__txt">
			<p>
				Проходя обучение в нашей школе, вы достигните таких целей:
			</p>

			<div class="graduation-page-about__txt__item">
				<div class="img-box">
					<img src="../images/pic/lotos-3.png" alt="img">
				</div>
				<p>
					Изучите расстановочные техники
				</p>
			</div>
			<div class="graduation-page-about__txt__item">
				<div class="img-box">
					<img src="../images/pic/lotos-3.png" alt="img">
				</div>
				<p>
					Разберетесь в методах расстановочной психологической терапии
				</p>
			</div>
			<div class="graduation-page-about__txt__item">
				<div class="img-box">
					<img src="../images/pic/lotos-3.png" alt="img">
				</div>
				<p>
					Разовьете в себе интуицию, ясновидение и целительство
				</p>
			</div>
			<div class="graduation-page-about__txt__item">
				<div class="img-box">
					<img src="../images/pic/lotos-3.png" alt="img">
				</div>
				<p>
					Разберетесь со своими "тараканами" и построите их
				</p>
			</div>
			<div class="graduation-page-about__txt__item">
				<div class="img-box">
					<img src="../images/pic/lotos-3.png" alt="img">
				</div>
				<p>
					Приобретете высокорезультативный инструмент как в работе психолога так и для личной жизни
				</p>
			</div>
			<div class="graduation-page-about__txt__item">
				<div class="img-box">
					<img src="../images/pic/lotos-3.png" alt="img">
				</div>
				<p>
					По окончанию обучения выдается сертификат
				</p>
			</div>
		</div>
	</div>
</section>