<section class="shop-page-all">
	<div class="container">
		<div class="shop-page-all__item">
			<a href="disks-page.html" class="img-box">
				<img src="../images/disks/garmonizacija-small.png" alt="disks">
			</a>
			<a href="disks-page.html">
				Диски с медитациями
			</a>
		</div>
		<div class="shop-page-all__item">
			<a href="cards-page.html" class="img-box">
				<img src="../images/pic/metaforicheskie_karti-5.jpg" alt="cards">
			</a>
			<a href="cards-page.html">
				Метафорические карты
			</a>
		</div>
		<div class="shop-page-all__item">
			<a href="creation-page.html" class="img-box">
				<img src="../images/pic/01-01-small.png" alt="pictures">
			</a>
			<a href="creation-page.html">
				Картины Лилейны Алайя
			</a>
		</div>
	</div>
</section>