<section class="event-page-1-block">
	<div class="container">
		<div class="event-page-1-block__prev clearfix">
			<div class="event-page-1-block__prev__pic">
				<div class="img-box">
					<img src="../images/pic/rasstanovki.png" alt="img">
				</div>
				<p>
					Скоро будет
				</p>
			</div>
			<div class="event-page-1-block__prev__txt">
				<h4>
					ДИФФЕРЕНЦИРОВАННЫЙ ПОДХОД В СИСТЕМНЫХ РЕШЕНИЯХ
				</h4>
				<p>
					Обучающая терапевтическая авторская программа Лилейны Алайя, включающая в себя расстановочные техники, элементы трансперсональной и процессуальной психологии
				</p>
				<p class="detail-title">
					Общее количество часов:
					теория 112 ч., практика 64 ч.
				</p>
			</div>
		</div>

		<div class="event-page-1-block__detail-1">
			СЛЕДИТЕ ЗА АНОНСОМ!
		</div>

		<p class="event-page-1-block__detail-1 detail-title">
			Темы, которые вы изучите:
		</p>

		<div class="event-page-1-block__list">
			<div class="img-box">
				<img src="../images/pic/shahmati-1.png" alt="">
			</div>
			<div class="event-page-1-block__list__item">
				<p class="detail-title">
					1 модуль
				</p>
				<p>
					Краткий курс классических расстановок. Формирование общего поля. Техники безопасности. Формирование клиентского запроса. Работа с заместителями и протагонистом. Начало и окончание расстановок. Базовые расстановочные упражнения. Развитие интуиции и считывание расстановочного поля. Показательные работы с клиентами по запросу с детальным разбором
				</p>
				<p class="detail-title">
					16 часов теории, 8 часов практики
				</p>
			</div>
		</div>
		<div class="event-page-1-block__list">
			<div class="img-box">
				<img src="../images/pic/shahmati-6.png" alt="">
			</div>
			<div class="event-page-1-block__list__item">
				<p class="detail-title">
					2 модуль
				</p>
				<p>
					Построение геннограммы. Выявление причин повторяющихся событий и влияние их на жизнь клиента
				</p>
				<p class="detail-title">
					16 часов теории, 8 часов практики
				</p>
			</div>
		</div>
		<div class="event-page-1-block__list">
			<div class="img-box">
				<img src="../images/pic/shahmati-5.png" alt="">
			</div>
			<div class="event-page-1-block__list__item">
				<p class="detail-title">
					3 модуль
				</p>
				<p>
					Детско-родительские отношения. Влияние абортированных детей родителей на жизнь и здоровье. Законы "Брать" и "Давать". Сепарация
				</p>
				<p class="detail-title">
					16 часов теории, 8 часов практики
				</p>
			</div>
		</div>
		<div class="event-page-1-block__list">
			<div class="img-box">
				<img src="../images/pic/shahmati-4.png" alt="">
			</div>
			<div class="event-page-1-block__list__item">
				<p class="detail-title">
					4 модуль
				</p>
				<p>
					Законы построения парных отношений. Влияние предыдущих партнеров на нынешние отношения. Влияние абортированных детей на партнерские отношения и на жизнь существующих детей. Разделение ответственности за созданные отношения и детей
				</p>
				<p class="detail-title">
					16 часов теории, 8 часов практики
				</p>
			</div>
		</div>
		<div class="event-page-1-block__list">
			<div class="img-box">
				<img src="../images/pic/shahmati-3.png" alt="">
			</div>
			<div class="event-page-1-block__list__item">
				<p class="detail-title">
					5 модуль
				</p>
				<p>
					Использование расстановочной системы в индивидуальном консультировании. Введение в работу дополнительных вспомагательных атрибутов: игрушки, ассоциативно-проективные карты. Удаленное консультирование: скайп, вайбер и т.д.
				</p>
				<p class="detail-title">
					16 часов теории, 8 часов практики
				</p>
			</div>
		</div>
		<div class="event-page-1-block__list">
			<div class="img-box">
				<img src="../images/pic/shahmati-2.png" alt="">
			</div>
			<div class="event-page-1-block__list__item">
				<p class="detail-title">
					6 модуль
				</p>
				<p>
					Структурные расстановки. Построение Иерархии и ее Законы. Введение в расстановочную систему Больших фигур
				</p>
				<p class="detail-title">
					16 часов теории, 8 часов практики
				</p>
			</div>
		</div>
		<div class="event-page-1-block__list">
			<div class="img-box">
				<img src="../images/pic/shahmati-1.png" alt="">
			</div>
			<div class="event-page-1-block__list__item">
				<p class="detail-title">
					7 модуль
				</p>
				<p>
					Работа с Причинами и Симптомами заболевания в расстановочной системе. Методы энергетической защиты в период работы с клиентом. Целительские практики, используемые в расстановочной системе для снижения напряжения и дальнейшего оздоравления клиента
				</p>
				<p class="detail-title">
					16 часов теории, 8 часов практики
				</p>
			</div>
		</div>
		<div class="event-page-1-block__list">
			<div class="img-box">
				<img src="../images/pic/hat.png" alt="">
			</div>
			<div class="event-page-1-block__list__item">
				<p class="detail-title">
					8 модуль
				</p>
				<p>
					Экзамен
				</p>
				<p class="detail-title">
					8 часов практики
				</p>
			</div>
		</div>
	</div>
</section>