<section class="event-page-1-block">
	<div class="container">
		<div class="event-page-1-block__prev clearfix">
			<div class="event-page-1-block__prev__pic">
				<div class="img-box">
					<img src="../images/pic/training-1.png" alt="img">
				</div>
				<p>
					Скоро будет
				</p>
			</div>
			<div class="event-page-1-block__prev__txt">
				<h4>
					АССОЦИАТИВНЫЕ КАРТЫ FAMILY STORIES. ТЕОРИЯ ПРАКТИКА ИГРА
				</h4>
				<p>
					Обучающий курс использования авторских колод из серии FAMILY STORIES в консультативной работе с клиентом как инструмент диагностики и терапии. А также использование этих колод в психологической терапевтической игре СВЯЗИ
				</p>
			</div>
		</div>

		<div class="event-page-1-block__detail-1">
			СЛЕДИТЕ ЗА АНОНСОМ!
		</div>

	</div>
</section>