<section class="training">
	<h2>ОБУЧЕНИЕ</h2>
	<div class="container">
		<div class="event__item">
			<a href="#" class="img-box">
				<img src="../images/pic/rasstanovki.png" alt="img">
			</a>
			<div class="img-box__cover">
				<a href="#" class="event__item__date">
					23.04
				</a>
				<a href="#" class="event__item__year">
					2017
				</a>
			</div>
			<a href="#" class="event__item__title">
				ДИФФЕРЕНЦИРОВАННЫЙ ПОДХОД В СИСТЕМНЫХ РЕШЕНИЯХ
			</a>
			<a href="#" class="event__item__about">
				Обучающая терапевтическая авторская программа Лилейны Алайя, включающая в себя расстановочные техники, элементы трансперсональной и процессуальной психологии
			</a>
			<a href="#" class="more">
				<i class="icon icon-more"></i>
			</a>
		</div>

		<div class="event__item">
			<a href="#" class="img-box">
				<img src="../images/pic/training-1.png" alt="img">
			</a>
			<div class="img-box__cover">
				<a href="#" class="event__item__date">
					29.04
				</a>
				<a href="#" class="event__item__year">
					2017
				</a>
			</div>
			<a href="#" class="event__item__title">
				LOREM IPSUM SIT EMET
			</a>
			<a href="#" class="event__item__about">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente dolorum dignissimos magnam illum, at iusto tenetur sequi cum veritatis nesciunt neque debitis repellat harum id dolorem maxime odio
			</a>
			<a href="#" class="more">
				<i class="icon icon-more"></i>
			</a>
		</div>

		<div class="event__item">
			<a href="#" class="img-box">
				<img src="../images/pic/training-2.png" alt="img">
			</a>
			<div class="img-box__cover">
				<a href="#" class="event__item__date">
					30.04
				</a>
				<a href="#" class="event__item__year">
					2017
				</a>
			</div>
			<a href="#" class="event__item__title">
				LOREM IPSUM DOLOR
			</a>
			<a href="#" class="event__item__about">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius eum, itaque non debitis maxime repellendus ex. Fugit ipsam, reiciendis libero.
			</a>
			<a href="#" class="more">
				<i class="icon icon-more"></i>
			</a>
		</div>
	</div>
</section>