<section class="training">
	<h2>ОБУЧЕНИЕ</h2>
	<div class="container">
		<div class="event__item">
			<a href="training-page-1.html" class="img-box">
				<img src="../images/pic/rasstanovki.png" alt="img">
			</a>
			<div class="img-box__cover">
				<a href="training-page-1.html" class="event__item__date">
					скоро
				</a>
				<a href="training-page-1.html" class="event__item__year">
					будет
				</a>
			</div>
			<a href="training-page-1.html" class="event__item__title">
				ДИФФЕРЕНЦИРОВАННЫЙ ПОДХОД В СИСТЕМНЫХ РЕШЕНИЯХ
			</a>
			<a href="training-page-1.html" class="event__item__about">
				Обучающая терапевтическая авторская программа Лилейны Алайя, включающая в себя расстановочные техники, элементы трансперсональной и процессуальной психологии
			</a>
			<a href="training-page-1.html" class="more">
				<i class="icon icon-more"></i>
			</a>
		</div>

		<div class="event__item">
			<a href="training-page-2.html" class="img-box">
				<img src="../images/pic/training-1.png" alt="img">
			</a>
			<div class="img-box__cover">
				<a href="training-page-2.html" class="event__item__date">
					скоро
				</a>
				<a href="training-page-2.html" class="event__item__year">
					будет
				</a>
			</div>
			<a href="training-page-2.html" class="event__item__title">
				АССОЦИАТИВНЫЕ КАРТЫ FAMILY STORIES. ТЕОРИЯ ПРАКТИКА ИГРА
			</a>
			<a href="training-page-2.html" class="event__item__about">
				Обучающий курс использования авторских колод из серии FAMILY STORIES в консультативной работе с клиентом как инструмент диагностики и терапии. А также использование этих колод в психологической терапевтической игре СВЯЗИ
			</a>
			<a href="training-page-2.html" class="more">
				<i class="icon icon-more"></i>
			</a>
		</div>

		<div class="event__item">
			<a href="training-page-3.html" class="img-box">
				<img src="../images/pic/training-2.png" alt="img">
			</a>
			<div class="img-box__cover">
				<a href="training-page-3.html" class="event__item__date">
					скоро
				</a>
				<a href="training-page-3.html" class="event__item__year">
					будет
				</a>
			</div>
			<a href="training-page-3.html" class="event__item__title">
				ОСНОВЫ БИОЭНЕРГЕТИКИ И ЦЕЛИТЕЛЬСТВА
			</a>
			<a href="training-page-3.html" class="event__item__about">
				Курс направлен на изучение основ биоэнергетического строения человека и его целительских возмозможностей. Рассчитан на раскрытие внутреннего потенциала
			</a>
			<a href="training-page-3.html" class="more">
				<i class="icon icon-more"></i>
			</a>
		</div>
	</div>
	<button class="details">
		<a href="training-page.html">ПОДРОБНЕЕ</a>
	</button>
</section>