<section class="event-page-1-block">
	<div class="container">
		<div class="event-page-1-block__prev clearfix">
			<div class="event-page-1-block__prev__pic">
				<div class="img-box">
					<img src="../images/pic/training-2.png" alt="img">
				</div>
				<p>
					Скоро будет
				</p>
			</div>
			<div class="event-page-1-block__prev__txt">
				<h4>
					ОСНОВЫ БИОЭНЕРГЕТИКИ И ЦЕЛИТЕЛЬСТВА
				</h4>
				<p>
					Курс направлен на изучение основ биоэнергетического строения человека и его целительских возмозможностей. Рассчитан на раскрытие внутреннего потенциала
				</p>
			</div>
		</div>

		<div class="event-page-1-block__detail-1">
			СЛЕДИТЕ ЗА АНОНСОМ!
		</div>

	</div>
</section>