<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="../css/style.css">
	<link href="https://fonts.googleapis.com/css?family=Play" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
	<link rel="shortcut icon" href="sprite/favicon.png" type="image/png">

	<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
	<link rel="stylesheet" type="text/css" href="../slick-1.6.0/slick/slick.css"/>
	<link rel="stylesheet" type="text/css" href="../slick-1.6.0/slick/slick-theme.css"/>
	<script type="text/javascript" src="../slick-1.6.0/slick/slick.min.js"></script>
</head>
<body>