.footer {
	background: #3C1D3C;
	color: #D09FCF;
	font-size: 14px;
	padding: (20px/940px)*100% 0;
	box-shadow: 0 0 10px rgba(114, 46, 111, 0.2);
}

	.footer .container {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

		.footer nav {
			width: (720px/940px)*100%;
		}

		.footer__contacts {
			width: (150px/940px)*100%;
		}

			.footer__contacts__mobile {
				margin-bottom: 10px;
			}

			.footer a {
				color: #D09FCF;
				margin-right: (4px/940px)*100%;
			}

			.footer a:hover {
				color: #FDDE11;
			}