.menu {
	padding: (15px/940px)*100% 0;
}

	.menu nav {
		display: flex;
		justify-content: space-between;
	}

		.menu a {
			padding: 8px;
			color: #921B8A;
			font-size: 15px;
			font-weight: 600;
		}

		.menu a:hover {
			background: #921B8A;
			color: #fff;
			border-radius: 10px;
		}