.training {
	background: url(../images/pic/meditation-1-2.png);
	@include header-bg;
	padding: 60px 0;
	box-shadow: 0 0 10px rgba(114, 46, 111, 0.2);
}

	.training h2 {
		color: #7F2B59;
		@include look-h2;
	}

	.training .container {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
	}

			@media screen and (max-width: 700px) {
				.event .container,
				.training .container {
					flex-direction: column;
					align-items: center;
				}
				.event__item {
					width: 70%;
					margin: 20px;
				}
			}
			@media screen and (max-width: 850px) {
				.event__item__date {
					font-size: 34px;
				}
			}

			@media screen and (max-width: 700px) {
				.img-box__cover {
					padding: 4%;
				}
				.event__item__title {
					font-size: 30px;
					line-height: 34px;
				}
				.event__item .event__item__about,
				.event__item .more {
					display: none;
				}
			}

			@media screen and (max-width: 550px) {
				.event__item__title {
					font-size: 22px;
					line-height: 24px;
				}
			}